.aboutMe {
    color: black;
}

p {
    font-size: 22px;
    font-weight: bold;
}

body {
    background-color: black;
}

.matt {
    max-width: 200%;
    max-height: 200%;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
}