.heading {
    color: #990033;
}

.text {
    color: white;
    font-size: 26px;
}

.contact {
    max-height: 85%;
}

body {
    background-color: black;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
}

li a {
    color: white;
    font-size: 22px;
}

a:hover {
    color: #990033;
}