.heading {
    color: #990033;
}

.text {
    color: white;
    font-size: 26px;
}

body {
    background-color: black;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
}

.bg-custom {
    background-color: black;
}

li a {
    color: white;
    font-size: 22px;
}

li a:hover {
    color: #990033;
}

.fisk {
    max-width: 90%;
}

.castle {
    max-width: 95%;
}